@tailwind base;
@tailwind components;
@tailwind utilities;
.ql-toolbar {
  background-color: #528fc8; /* Set toolbar background color */
  border: none; /* Remove toolbar border */
}

.ql-editor {
  min-height: 300px; /* Set minimum height for editor */
  font-family: Arial, sans-serif; /* Set font family */
  font-size: 16px; /* Set font size */
  color: #333; /* Set text color */
}

.ql-toolbar button {
  color: #333; /* Set button color */
}
.post p {
  color: #333;
  margin-bottom: 0.5rem;
}

.post h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 0;
}
.post h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.25rem 0;
}
.post a {
  color: #528fc8;
  text-decoration: none;
}
